@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Casta";
  src: url("./assets/fonts/Casta-Thin.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ThunderHC";
  src: url("./assets/fonts/Thunder-HC.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ThunderLC";
  src: url("./assets/fonts/Thunder-LC.otf");
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: "Poppins", sans-serif;
  background: #f2f0e9;
  line-height: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all;
  transition-duration: 200ms;
  transition-timing-function: ease;
}

body {
  background-size: 40px 40px;
  background-image: radial-gradient(
    circle,
    #daaa0088 1px,
    rgba(0, 0, 0, 0) 1px
  );
}

h1 {
  font-family: "Casta", "Times New Roman", Times, serif;
}
.casta {
  font-family: "Casta", "Times New Roman", Times, serif;
}

a:hover {
  color: RGB(227, 107, 70);
  cursor: pointer;
  text-decoration: underline;
}

.ThunderLC {
  font-family: "ThunderLC", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.ThunderHC {
  font-family: "ThunderHC", sans-serif;
  font-weight: 400;
  font-style: normal;
}
